<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Edit film</title>
</head>
<body>
	<form action="#" th:action="@{/editFilm/{id}(id =${film.id})}" th:object="${film}" method="post">
	    <label for="title">Title</label>
	    <input type="text" th:field="${film.title}" id="title" placeholder="Title">
	    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
	    <br>
	    <label for="year">Year</label>
	    <input type="number" min="1900" max="2099" th:field="${film.year}" id="year" placeholder="Year">
	    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Invalid year</span>
	    <br>
	    <label for="genre">Genre</label>
	    <input type="text" th:field="${film.genre}" id="genre" placeholder="Genre">
	    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
	    <br>
	    <label for="description">Description</label>
	    <input type="text" th:field="${film.description}" id="description" placeholder="Description">
	    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
	    <br>
	    <label for="medium">Medium</label>
	    <input type="text" th:field="${film.medium}" id="medium" placeholder="Medium">
	    <span th:if="${#fields.hasErrors('medium')}" th:errors="*{medium}"></span>
	    <br>
	    <input type="submit" value="Edit film">
	</form>
</body>
</html>