<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/ListStyles.css}" rel="stylesheet" />
<title>Films</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
      Authenticated as <span sec:authentication="name"></span></div>
<div>Page Count: <span th:text="${films.getTotalPages()}">null</span></div>
<div>Page Num: <span th:text="${currentPage}">null</span></div>
<div th:switch="${films}">
	<h2 th:case="null">There are no films</h2>
	<div><a th:href="@{/addFilm}">Add New Film</a>
	</div>
	<div th:case="*">
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Genre</th>
					<th>Description</th>
					<th>Medium</th>
					<th>Language</th>
					<th>Actors</th>
				</tr>
			</thead>
			<tbody>
                <tr th:each="film : ${films}">
                    <td th:text="${film.title}"></td>
                    <td th:text="${film.year}"></td>
                    <td th:text="${film.genre}"></td>
                    <td th:text="${film.description}"></td>
                    <td th:text="${film.medium}"></td>
                    <td><div th:each="language : ${film.languages}" th:text="${language}"></div></td>
                    <td><div th:each="actor : ${film.actors}" th:text="${actor.name} + ' as ' + ${actor.role}"></div></td>
                    <td>
                    	<form th:action="@{/editFilm/{id}(id=${film.id})}" method="GET">
                    		<button type="submit">Edit</button>
                    	</form>
                       	<form th:action="@{/deleteFilm/{id}(id=${film.id})}" method="POST">
                    		<button type="submit">Delete</button>
                    	</form>
                    </td>
                    
                </tr>
            </tbody>
		</table>
	</div>
	<div id="pageButtons" class="buttonContainer">
		<div id="leftButtons" class="subButtonContainer">
			<a th:if="${currentPage}" class="button" th:href="@{/films?page=0}">&lt&lt</a>
			<a th:if="${currentPage}" class="button" th:href="@{/films(page=(${currentPage}-1))}">&lt</a>
		</div>
		<div id="rightButtons" class="subButtonContainer">
			<a th:if="${currentPage} &lt (${films.getTotalPages()}-1)" class="button" th:href="@{/films(page=(${currentPage}+1))}">&gt</a>
			<a th:if="${currentPage} &lt (${films.getTotalPages()}-1)" class="button" th:href="@{/films(page=(${films.getTotalPages()}-1))}">&gt&gt</a>
		</div>
	</div>
</div>
</body>
</html>